@charset "UTF-8";

/* 回答はここに書いてね */
.main {
  background: #EFF3F4;
  margin: 0 auto;
  width: 900px;
  padding: 20px;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.three-box {
  background-color: #3274ae;
  width: 230px;
  float: left;
  padding: 20px;
  margin-left: 20px;
}
.three-box:first-child {
  margin-left: 0;
}
.three-minibox {
  background-color: #eaf4ff;
  border: 10px solid #022336;
  padding: 20px;
}
/* 回答はここに書いてね */
