@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.q7-1-floatbox {
  width: 225px;
  float: left;
  margin-left: 50px;
  font-size: 16px;
  box-sizing: border-box;
}
.q7-1-floatbox:first-child {
  margin-left: 0;
}
.q7-2-tablebox {
  display: table;
  table-layout: fixed;
}
.q7-2-box {
  display: table-cell;
  width: 225px;
  vertical-align: middle;
  padding-left: 50px;
}
.q7-2-box:first-child {
  padding-left: 0;
}
.parent{
  font-size: 0;
}
.q7-3-box {
  display: inline-block;
  width: 225px;
  vertical-align: middle;
  margin-left: 50px;
  font-size: 16px;
  box-sizing: border-box;
}
.q7-3-box:first-child {
  margin-left: 0;
}
.q7-4-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.q7-4-minibox {
  width: 205px;
}
.q7-5-leftbox {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}
.q7-5-rightbox {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
  vertical-align: top;
}
.q7-5-text {
  font-size: 16px;
}
/* 回答はここに書いてね */
