@charset "UTF-8";

/* 回答はここに書いてね */
.balloon {
  position: relative;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  border: 5px solid #222;
  border-radius: 30px;
}
.balloon:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #222;
  bottom: -45px;
  left: 30px;
}
.balloon:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #FFF;
  bottom: -38px;
  left: 30px;
}
/* 回答はここに書いてね */
